/*blue: 2b8dbb*/

html, body {
    font-family: 'Ubuntu';
    font-size: 18px;
    color: #0b2869;
}

h2, h3 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Raleway';
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 26px;
}

@media (max-width: 400px) {
    h2 {
        font-size: 32px;
    }
}

/* NAVBAR */
/*----------------------------------------------*/

nav.navbar {
    border: none;
    margin: 15px 0;
}

nav .navbar-header {
    height: 86px;
    float: left;
    margin-left: 0;
}

nav .navbar-header img{
    height: 100%;
}

nav.navbar ul {
    margin-top: 33px;
}

nav.navbar ul li a {
    text-transform: capitalize;
    font-weight: 700;
    color: #435a91;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav.navbar ul li a:hover {
    background-color: transparent;
}

@media (max-width: 767px) {
    .container>.navbar-header {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    nav.navbar ul {
        margin-top: 15px;
    }

    nav .navbar-header {
        height: 60px;
    }
}


/* HEADER */
/*----------------------------------------------*/

header {
    height: 660px;
    position: relative;
    background: #202d64; /* Old browsers */
    background: -moz-linear-gradient(10deg, #202d64 0%,#435a91 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(10deg, #202d64 0%,#435a91 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(10deg, #202d64 0%,#435a91 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(10deg, #202d64 0%,#435a91 100%); /* IE10+ */
    background: linear-gradient(10deg, #202d64 0%,#435a91 100%); /* W3C */
}

header #graph-container {
    height: 100%;
    width: 100%;
    background: url('img/graph-bg.png') no-repeat center;
    position: absolute;
}

header #header-title {
    position: absolute;
    top: 200px;
}

header #header-title p {
    font-family: 'Raleway';
    text-transform: uppercase;
    color: white;
    font-size: 127px;
    line-height: 127px;
    margin: 0;
    letter-spacing: 6px;
}

@media screen and (max-width: 991px) {
    header {
        height: 600px;
    }

    header #header-title p {
        font-size: 100px;
        line-height: 100px;
    }
}

@media (max-width: 767px) {
    header {
        height: 450px;
    }

    header #header-title p {
        font-size: 60px;
        line-height: 60px;
    }
}

@media (max-width: 500px) {
    header {
        height: 400px;
    }

    header #header-title p {
        font-size: 38px;
        line-height: 38px;
    }
}


/* COMPANY DESCRIPTION */
/*----------------------------------------------*/

section#company-description .container {
    padding: 100px 0;
}

section#company-description p {
    margin: 0 5%;
}

section#company-description p {
    margin-bottom: 25px;
}

section#company-description p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    section#company-description p {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 767px) {
    section#company-description p {
        text-align: center;
    }
}


/* PRODUCT RESUME */
/*----------------------------------------------*/

section#product-resume {
    background-color: #f1f1f1;
    text-align: center;
}

section#product-resume .row .col-sm-4 {
    margin-top: 100px;
    margin-bottom: 100px;
}

section#product-resume h3 {
    color: #67c5e0;
}

@media (max-width: 767px) {
    section#product-resume .row .col-sm-4 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* HOW IT WORKS */
/*----------------------------------------------*/

section#how-it-works {
    background-color: #0b2869;
    text-align: center;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.3em;
    padding: 100px 0;
    border-bottom: 1px solid rgba(104, 197, 224, 0.1);
}

section#how-it-works h2 {
    text-align: center;
    color: #67c5e0;
    margin-bottom: 50px;
}

section#how-it-works img {
    max-width: 100%;
}

section#how-it-works p {
    margin: 100px 0 0;

}


/* PRODUCT DETAILS */
/*----------------------------------------------*/

section#product-details {
    background-color: #0b2869;
    padding-top: 100px;
}

section#product-details .main-section-title {
    text-align: center;
    color: #67c5e0;
    margin-bottom: 50px;
}

section#product-details #specs {
    text-align: left;
    font-weight: 300;
    color: white;
}

section#product-details #specs li {
    font-size: 16px;
    margin-bottom: 15px;
}

section#product-details .img-container {
    position: absolute;
    bottom: 0;
    /*left: 15px; makes the image centered, but actually gives the impression it is not*/
}

section#product-details .img-container img {
    max-width: 100%;
}

section#product-details .col-sm-4 {
    position: relative;
}

#machine {
    padding-top: 50px;
}

#knowledge {
    padding-top: 25px;
}

section#table {
    background-color: #0b2869;
    border-top: 5px solid #67c5e0;
    height: 100px;
    margin-top: -5px;
}

section#product-details #specs h3.visible-xs {
    cursor: pointer;
}

section#product-details #specs h3.visible-xs.arrow-down:after {
    transform: rotate(-315deg);
    top: -1px;
}

section#product-details #specs h3.visible-xs:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: white;
    right: 20px;
    top: -6px;
}

section#product-details #specs h3.visible-xs:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-bottom: 3px solid #0b2869;
    border-right: 3px solid #0b2869;
    transform: rotate(-135deg);
    right: 30px;
    top:10px;
}

section#product-details .animated.fadeIn {
    max-height: 500px;
    transition: ease-out 0.5s;
}

section#product-details .animated.fadeOut {
    max-height: 0;
    transition: ease-in 0.5s 0.1s;
}

@media (min-width: 768px) {
    section#product-details .col-sm-4 {
        height: 700px;
    }
}

@media (min-width: 992px) {
    section#product-details .col-sm-4 {
        height: 650px;
    }
}

@media (max-width: 767px) {
    section#table {
        border: none;
    }

    section#product-details .img-container {
        position: static;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #machine, #web, #knowledge {
        padding-top: 0;
    }

    #web, #knowledge {
        margin-top: 100px;
    }
}

/* APP */
/*----------------------------------------------*/

section#app {
    padding: 100px 0;
    text-align: center;
    background-color: #f1f1f1;
}

section#app #app-specs {
    margin-bottom: 50px;
}

section#app #app-specs h3 {
    margin-bottom: 0;
}

section#app #browser {
    text-align: left;
}

section#app #browser .col-xs-12 {
    border: 1px solid #eee;
    border-bottom: none;
    background-color: white;
}

section#app #video-container video {
    border: 1px solid #eee;
    width: 100%;
}

section#app #browser img {
    width: 100px;
}

section#app #app-specs h2 {
    color: #67c5e0;
}

/* FOOTER */
/*----------------------------------------------*/

footer {
    background-color: #31a6c8;
    text-align: center;
}

footer .container {
    padding: 100px 15px;
}

footer h3 {
    color: white;
}

footer a.btn {
    border: none;
    border-radius: 0;
    color: #31a6c8;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
}

footer a.btn:hover {
    background-color: white;
    color: #206d83;
}

footer #copyright {
    margin-top: 60px;
    font-size: 16px;
    color: #206d83;
}
